{# templates/blog/index.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}All articles{% endblock %}

{% block body %}



    <h1>All articles from article s table : </h1>
    {% for article in articles %}
        <div>
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Title</th>
                    <th scope="col">Category</th>
                    <th scope="col">Tags</th>
                    <th scope="col">Content</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>{{ loop.index }}</td>
                    <td>{{ article.title }}</td>
                    <td>
                        <a href="{{ path('blog_category', { 'name': article.category.name }) }}">
                            Category : {{ article.category.name }}
                        </a>
                    </td>
                    <td>
                        {% for tag in article.tags %}
                            <p>{{ tag.name }}</p>
                        {% endfor %}
                    </td>
                    <td>
                        <p>{{ article.content }}</p>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    {% else %}
        Aucun article trouvé.
    {% endfor %}


    <a href="{{ path('app_index') }}">
        Back to homepage.
    </a>
{% endblock %}