{# templates/blog/index.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}All articles{% endblock %}

{% block body %}



    <table class="table">
        <thead>
        <tr>
            <th>Id</th>
            <th>Title</th>
            <th>Category</th>
            <th>Tags</th>
            <th>Content</th>
        </tr>
        </thead>
        {% for article in articles %}
            <tbody>
            <tr>
                <td>{{ loop.index }}</td>
                <td>{{ article.title }}</td>
                <td>
                    <a href="{{ path('blog_category', { 'name': article.category.name }) }}">
                        Category : {{ article.category.name }}
                    </a>
                </td>
                <td>
                    {% for tag in article.tags %}
                        <p>{{ tag.name }}</p>
                    {% endfor %}
                </td>
                <td>
                    <p>{{ article.content }}</p>
                </td>
            </tr>
            </tbody>
        {% else %}
            Aucun article trouvé.
        {% endfor %}
    </table>

    <h1>All articles from article s table : </h1>


    <a href="{{ path('app_index') }}">
        Back to homepage.
    </a>
{% endblock %}